/* Asegura que la estructura de la página ocupe todo el alto de la pantalla */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Contenedor principal que envuelve todo el contenido */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor principal ocupe al menos el 100% de la altura */
  padding-bottom: 50px; /* Da espacio para el footer */
}

/* Contenedor del Footer */
.footer-container {
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: auto; /* Asegura que el footer siempre se mantenga abajo */
}

.footer-container p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 14px;
  color: #777;
}

.footer-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-container ul li {
  display: inline;
  margin: 0 15px;
  font-size: 14px;
  cursor: pointer;
}

.footer-container ul li:hover {
  color: #007bff;
  transition: color 0.3s;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .footer-container {
    padding: 15px;
  }

  .footer-container p {
    font-size: 13px;
  }

  .footer-container ul li {
    font-size: 13px;
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    padding: 10px;
  }

  .footer-container p {
    font-size: 12px;
  }

  .footer-container ul li {
    font-size: 12px;
    margin: 0 8px;
  }
}

@media (max-width: 350px) {
  .footer-container {
    padding: 8px;
  }

  .footer-container p {
    font-size: 11px;
  }

  .footer-container ul li {
    font-size: 11px;
    margin: 0 5px; /* Reduce el espacio entre los elementos */
  }
}
