.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh; 
    background-color: #fff; 
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 400px; 
  }
  .login-container button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  
  .login-container button:hover {
    background-color: #044cbe;
    
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
  }
  
  input:focus {
    border-color: #007bff; 
    outline: none; 
  }

  .register-link {
    margin-top: 15px;
  }
  
  .register-link a {
    color: #007bff; 
    text-decoration: none; 
  }
  
  .register-link a:hover {
    text-decoration: underline; 
  }

.error-message {
    color: red; 
    margin-top: 10px; 
  }
  @media (max-width: 350px) {
    body .login-container {
      width: 120%; /* por alguna razon se rompe en 350 y con esto se acomoda*/
    }
  }