.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
h2 {
    margin-bottom: 20px;
    color: #333; 
}
  
.register-form {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 400px; 
}
  
.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; 
}
  
label {
    margin-bottom: 5px;
    font-weight: bold;
}
  
input {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
}
  
input:focus {
    border-color: #007bff; 
    outline: none; 
}
  
.register-button {
    padding: 10px;
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; 
}
  
.register-button:hover {
    background-color: #0056b3; 
}
  
.login-link {
    margin-top: 15px;
}
  
.login-link a {
    color: #007bff; 
    text-decoration: none; 
}
  
.login-link a:hover {
    text-decoration: underline; 
}

.error-message {
    color: red; 
    margin-top: 10px; 
}

@media (max-width: 490px) {
  
    .form-group label {
        font-size: 0.9rem;
    }

    input, .register-button {
        font-size: auto;
        padding: 8px;
    }
    .form-group label, .login-link{
        font-size: 0.9rem;
        padding: auto;
    }

    .login-link {
        font-size: 0.7rem;
    }


}

@media (max-width: 320px) {

    h2 {
        font-size: 1rem;
        margin-bottom: 8px;
    }
    .register-button {
        padding: 6px;
        font-size: 0.8rem;
    }

    .form-group label {
        font-size: 1rem;
        padding: auto;

    }
    input {
        padding: 6px;
        font-size: 0.8rem;
    }
}