*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  background-color: #7d7d7d;
}
#root
{
  --color-fondo:#f4f4f4;
  --font-family: "Kanit", sans-serif;
}
.app-container{
  background-color: #007bff;
}
/*header*/
header {
  background-color: rgba(255, 255, 255, 0.792);
  color: #333;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  position: relative;
}
.header-container .logo {
  display: flex;
  align-items: center;
}
.header-container .logo img {
  width: 50%;
  height: 50px;
  margin-right: 10px;
}
.header-container .logo h1 {
  font-size: auto;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: flex-end;
}
.nav-links {
  list-style: none;
  padding: 10px;
  display: flex;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links li a {
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #46d0fa;
  color: #333;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.app-container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header{
  grid-row: 2;
}
.main-content{
  grid-row: 2;
  padding-bottom: 20px;
}
.footer{
  grid-row: 3;
}

/*footer*/
.footer-container {
  background-color: var(--color-fondo);
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  color: #333;
  margin: 0;
}

.footer-container p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 14px;
  color: #777;
}

.footer-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-container ul li {
  display: inline;
  margin: 0 15px;
  font-size: 14px;
  cursor: pointer;
}

.footer-container ul li:hover {
  color: #007bff;
  transition: color 0.3s;
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
  }

  .navbar {
    width: 100%;
    margin-top: 20px;
  }

  .nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .nav-links li {
    margin: 0;
  }

  .logo h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .header-container .logo h1 {
    font-size: 18px;
  }

  .nav-links a {
    font-size: 14px;
  }

  .material-symbols-outlined {
    font-size: 20px;
  }
}