/* src/components/Login.css */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #f5f5f5; /* Color de fondo suave */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333; /* Color del texto */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Usar el ancho completo disponible */
    max-width: 400px; /* Máximo ancho del formulario */
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Alineación vertical */
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc; /* Borde suave */
    border-radius: 5px; /* Bordes redondeados para los campos de entrada */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  input:focus {
    border-color: #007bff; /* Cambia el color del borde al enfocarse */
    outline: none; /* Quita el contorno por defecto */
  }
  
  .login-button {
    padding: 10px;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    border-radius: 5px; /* Bordes redondeados para el botón */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Transición suave al cambiar el color */
  }
  
  .login-button:hover {
    background-color: #0056b3; /* Color al pasar el ratón */
  }
  
  .register-link {
    margin-top: 15px;
  }
  
  .register-link a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Quita el subrayado */
  }
  
  .register-link a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
  }

 /* src/css/Login.css */

.error-message {
    color: red; /* Color del texto de error */
    margin-top: 10px; /* Espacio superior */
  }
  