/* Root */
#root {
  --color-fondo-letra: #007bff;
  --color-hover: #0056b3;
  --font-family: "Kanit", sans-serif;
}

/* Reset */
* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main */
.main-container {

  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

/* Filter */
.filter-container {
  max-width:20%;
  max-height: 400px;
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #3498db;
  transition: box-shadow 0.3s ease, border-bottom 0.3s ease;
}

.filter-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Sombra más fuerte */
  border-bottom: 3px solid #2980b9;
}

.filter-product-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 400px;
}

.filter-product-box h3 {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.filter-product-box ul {
  list-style: none;
  padding: 0;
}

.filter-product-box li button {
  background: none;
  border: none;
  cursor: pointer;
}

.filter-product-box li button span {
  font-size: 14px;
  font-weight: 400;
}

.filter-product-box li button:hover {
  color: var(--color-fondo-letra);
  transition: color 0.3s;
}

/* Product List */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 20px;
  width: 75%; /* Los productos ocupan el 75% del espacio disponible */
}
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-align: center;
  margin: 16px;
  width: 70%;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.product-details {
  padding: 16px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #4a4a4a;
}

.product-price {
  font-size: 16px;
  color: #333;
  margin-bottom: 16px;
}
.buttons-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-now {
  background-color: #2ecc71;
  height: 30px;
  color: white;
  margin: 0px 0px 5px 0px;
  width: 70%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-now:hover {
  background-color: #219f56;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: var(--color-fondo-letra);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #dddddd84;
  color: #003082;
}

.pagination .active {
  background-color: var(--color-hover);
}
@media (max-width: 1060px) {
  .filter-container {
    min-height: 600px;
  }
}
@media (max-width: 1190px) {
  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .filter-container {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .filter-container {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en tabletas */
  }

  .pagination {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .filter-container {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .product-list {
    grid-template-columns: repeat(1, 1fr); /* 1 columna en pantallas más pequeñas */
  }

  .pagination button {
    padding: 8px 12px;
    font-size: 0.9rem;
  }

  .buy-now {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .filter-container {
    max-width: 100%;
  }

  .product-title {
    font-size: 14px;
  }

  .product-price {
    font-size: 14px;
  }

  .pagination button {
    padding: 6px 10px;
    font-size: 0.8rem;
  }

  .buy-now {
    width: 80%;
  }
}

@media (max-width: 300px) {
  .filter-product-box h3 {
    font-size: 12px;
  }

  .filter-container {
    max-width: 100%;
  }

  .product-title {
    font-size: 12px;
  }

  .product-price {
    font-size: 12px;
  }

  .pagination button {
    padding: 4px 8px;
    font-size: 0.7rem;
  }

  .buy-now {
    width: 90%;
  }
}
