#root{
  --color-fondo-letra: #007bff;
  --color-hover: #0056b3;
  --font-family: "Kanit", sans-serif;
}
*{
  font-family: var(--font-family);
}
/*Main*/
.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.filter-container {
  width: 250px;
  max-width: 100%;
  height: auto;
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #3498db;
  transition: box-shadow 0.3s ease, border-bottom 0.3s ease; 
}

.filter-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Sombra más fuerte */
  border-bottom: 3px solid #2980b9; /
}

.filter-product-box{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
}
.filter-product-box h3{
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
      
}
.filter-product-box ul{
  list-style: none;
  padding: 0;
}
.filter-product-box li button{
  background: none;
  border: none;
  cursor: pointer;
}
.filter-product-box li button span{
  font-size: 14px;
  font-weight: 400;
}
.filter-product-box li button:hover{
  color: var(--color-fondo-letra);
  transition: color 0.3s;
}

/* ProductList.css */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  padding: 20px;
}
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-align: center;
  margin: 16px;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-details {
  padding: 16px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #4a4a4a;
}

.product-price {
  font-size: 16px;
  color: #333;
  margin-bottom: 16px;
}
.buttonss-conntainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-now {
  background-color: #2ecc71;
  height: 30px;
  color: white;
  margin: 0px 0px 5px 0px;
  width: 70%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-now:hover {
  background-color: #219f56;
}


/* Pagination.css */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: var(--color-fondo-letra);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination .active {
  background-color: var(--color-hover);
}
@media (max-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 768px) {
  .filter-container {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
  .product-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en tabletas */
  }
}

@media (max-width: 600px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas más pequeñas */
  }

  .filter-product-box h3 {
    font-size: 14px;
  }

  .pagination button {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .product-list {
    grid-template-columns: 1fr; /* 1 columna en móviles */
  }

  .filter-product-box h3 {
    font-size: 12px;
  }

  .pagination button {
    padding: 6px 10px;
    font-size: 0.8rem;
  }

  .buy-now {
    width: 80%;
  }
}

@media (max-width: 300px) {
  .filter-product-box h3 {
    font-size: 10px;
  }

  .product-title {
    font-size: 12px;
  }

  .product-price {
    font-size: 12px;
  }

  .pagination button {
    padding: 4px 8px;
    font-size: 0.7rem;
  }

  .buy-now {
    width: 90%;
  }
}

